<div class="container">
  <h3 mat-dialog-title style="text-align: center;"><b>Are you sure?</b></h3>
  <div mat-dialog-content>
    <b>Application name:</b> {{data.appName}}
    <p></p>
    <b>Application version:</b> {{data.defaultVersion}}
    <p></p>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button color="warn" [mat-dialog-close]="1" (click)="confirmDelete()">Delete</button>
    <button mat-raised-button color="primary" (click)="onNoClick()" tabindex="-1">Cancel</button>
  </div>
</div>
