.container {
  display: flex;
  flex-direction: column;
  min-width: 355px;
}

.container > * {
  width: 100%;
}

.form {
  display: flex;
  padding-top: 6px;
}

.mat-form-field {
  // font-size: 16px;
  flex-grow: 1;
  // margin-bottom: -5px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

form.normal-form {
  margin: 10px;
}

.controles-container {
  width: 100%;
  padding: 5%;
}

.controles-container > * {
  width: 100%;
}

.mat-form-field-div {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 100%;
}

.aligned-with-icon {
  margin-right: 5px;
  vertical-align: bottom;
}

.material-icons.color_light_gray {
  color: #757575;
}

.example-radio-button {
  margin: 7px;
}

.smallRadio {
  margin-bottom: 8px;
  font-family: "Roboto", sans-serif;
}

.wrap {
    //outline: 1px dotted blue;
    overflow: hidden;
}

.wrap label {
    white-space: normal;
    font-size: 65%;
    // outline: 1px dashed blue;
    //width: 10em;
    float:left;
    line-height: 15px;
    //margin-right: 1.00em;
}
