.navigation-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
}

mat-card {
  width: calc(100% - 40px);
  height: calc(100% - 120px);
}

table {
  width: 100%;
}

mat-slider {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
// added for expand
.mat-table {
  width: 100%;
}

.mat-header-cell {
  .mat-sort-header-sorted {
    color: black;
  }
}

.mat-row {
  border-bottom: 0;

  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .1);
  }
}

.expandable-row {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  background-color: #fafafa;
  // font-weight: lighter;
  min-height: 0;
  overflow: hidden;
}

.mat-column-expand {
  /*
  flex: 0 0 30px;
  flex: 0 0 30px;
  display: flex;
  justify-content: flex-start;
  */
  justify-content: flex-start;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 3% !important;
  width: 3% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-zoneID {
  /*
  flex: 0 0 30px;
  display: flex;
  justify-content: flex-start;
  */
  //justify-content: center;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 2% !important;
  width: 2% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-zoneMaint {
  /*
  flex: 0 0 23px;
  display: flex;
  justify-content: flex-start;
  */
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 2% !important;
  width: 2% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-buildStatus {
  /*
  flex: 0 0 23px;
  display: flex;
  justify-content: flex-start;
  */
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 3% !important;
  width: 3% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-zoneLock {
  /*
  flex: 0 0 45px;
  display: flex;
  justify-content: flex-start;
  */
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 4% !important;
  width: 4% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-zonePort {
  /*
  flex: 0 0 60px;
  display: flex;
  justify-content: flex-start;
  */
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 6% !important;
  width: 6% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-zoneUser {
  /*
  flex: 0 0 78px;
  display: flex;
  justify-content: flex-start;
  */
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-zoneType {
  /*
  flex: 0 0 56px;
  display: flex;
  justify-content: flex-start;
  */
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 6% !important;
  width: 6% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-zoneShortName {
  /*
  flex: 0 0 190px;
  display: flex;
  justify-content: flex-start;
  */
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 14% !important;
  width: 14% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-activeSchema {
  /*
  flex: 0 0 40px;
  display: flex;
  justify-content: flex-start;
  */
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 3% !important;
  width: 3% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-zoneServer {
  /*
  flex: 0 0 110px;
  display: flex;
  justify-content: flex-start;
  */
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 12% !important;
  width: 12% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-zoneActive {
  /*
  flex: 0 0 90px;
  display: flex;
  justify-content: flex-start;
  */
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-buildMsg {
  /*
  flex: 0 0 150px;
  display: flex;
  justify-content: flex-start;
  */
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 18% !important;
  width: 18% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-actions {
  /*
  flex: 0 0 150px;
  display: flex;
  justify-content: flex-start;
  */
  justify-content: flex-start;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 3% !important;
  width: 3% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aligned-with-icon {
  // margin-right: 5px;
  vertical-align: -5px;
}

.negative-icon {
  color: #ed5565;
}

.positive-icon {
  color: #1ab394;
}

.neutral-icon {
  color: #f3be31;
}

.pause-icon {
  color: #d2a2fc;
}

.updating-icon {
  color: #3d9df2;
}

.aligned-with-icon1 {
  margin-right: 5px;
  vertical-align: -20px;
}

.material-icons.color_light_gray {
  color: #757575;
}

.card-container-left {
  display: inline;
  //width: 100% !important;
  font-family: Righteous,cursive;
}

.mat-card-header-text {
  width: 100% !important;
}

.mat-standard-chip {
  font-size: 7px;
  margin: 1px;
  min-height: 6px;
  //min-height: 12px;
  padding: 7px 4px;
}

.full-refresh-icon {
  color: #4863A0;
  //background-image: radial-gradient(#b7deed 8%, #21b4e2 20%, #71ceef 50%);
  /*
  background: -moz-radial-gradient(center, ellipse cover,  rgba(183,222,237,1) 0%, rgba(109,197,224,1) 16%, rgba(148,204,221,1) 29%, rgba(178,220,234,0.99) 52%, rgba(218,228,232,0.99) 67%, rgba(218,228,232,0.98) 100%); /* FF3.6-15 */
  //background: -webkit-radial-gradient(center, ellipse cover,  rgba(183,222,237,1) 0%,rgba(109,197,224,1) 16%,rgba(148,204,221,1) 29%,rgba(178,220,234,0.99) 52%,rgba(218,228,232,0.99) 67%,rgba(218,228,232,0.98) 100%); /* Chrome10-25,Safari5.1-6 */
  //background: radial-gradient(ellipse at center,  rgba(183,222,237,1) 0%,rgba(109,197,224,1) 16%,rgba(148,204,221,1) 29%,rgba(178,220,234,0.99) 52%,rgba(218,228,232,0.99) 67%,rgba(218,228,232,0.98) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#fadae4e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.app-nav-list-icon {
  margin: 6px;
}

.material-icons-two-tone {
  //filter: invert(0.5) sepia(1) saturate(10) hue-rotate(180deg);
  //font-size: 200px;
  //margin-left: -37px;
  //color: #6960EC;
  //color: #0099ff;
  color: #4B0082;
}

// NeW
table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
